.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

td {
  width: 150px;
  height: 50px;
  padding: 7px 10px;
}

img {
  border-radius: 10%;
}

button {
  width: 150px;
  margin: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

button:hover {
  background-color: #aaaaaa;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 50px 0;
  background-color: #fff;
  border-radius: 10px;
}

.modal-content > img {
  margin: 20px;
}